.BuildControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  background: #e27b36;

  .OrderButton {
    background: #DAD735;
    padding: 15px 30px;
    border: 1px solid #966909;
    box-shadow: 2px 2px 3px #966909;
    font-family: inherit;
    font-size: 1.2rem;
    color: #966909;
    outline: none;
    cursor: pointer;
  
    &:hover,
    &:active {
      border: 1px solid #966909;
      background: #A0DB41;
      color: #966909;
    }
  
    &:disabled {
      border: 1px solid #ccc;
      background: #C7C6C6;
      color: #888;
      cursor: not-allowed;
    }
  
    &:not(:disabled) {
      animation: enable 0.3s linear;
    }
  }
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}