.BuildControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;

  button {
    display: block;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #AA6817;
    outline: none;
    cursor: pointer;
    font: inherit;

    &:disabled {
      background: #AC9980;
      border: 1px solid #7E7365;
      color:  #ccc;
      cursor: default;
    }

    &:hover:disabled {
      background: #AC9980;
      color: #ccc;
      cursor: not-allowed;
    }
  }

  .Label {
    width: 80px;
    padding: 10px;
    font-weight: bold;
  }

  .Less {
    background: #D39952;
    color: white;

    &:hover,
    &:active {
      background: #DAA972;
      color: white;
    }
  }

  .More {
    color: white;
    background: #8F5E1E;

    &:hover,
    &:active {
      background: #99703F;
      color: white;
    }

  }
}


