.NavigationItem {
    display: block;
    width: 100%;
    margin: 10px 0;
    
    a {
        display: block;
        text-decoration: none;
        color: #8F5C2C;

        &:hover,
        &:active,
        &.active {
            color: #40A4C8;

        }
    }

    @media (min-width: 500px) {
        display: flex;
        align-items: center;
        width: auto;
        margin: 0;
        
        a {
            display: block;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            text-decoration: none;
            color: white;
    
            &:hover,
            &:active,
            &.active {
                border-bottom: 4px solid #40A4C8;
                color: white;
                background: #8F5C2C;
    
            }
        }
    }
}