.NavigationItem {
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    
    a {
        text-decoration: none;
        color: white;
        border-bottom: 4px solid transparent;
        padding: 16px 10px;
        display: block;

        &:hover,
        &:active,
        &.active {
            color: white;
            background: #8F5C2C;
            border-bottom: 4px solid #40A4C8;

        }
    }
}