.ContactData {
    margin: 20px auto;
    width: 80%;
    box-shadow: 0  2px 3px #ccc;
    border: 1px solid #eee;
    text-align: center;
    font: inherit;

    input {
        display: block;
        width: 100%;
    }

    @media (min-width: 500px) {
        width: 500px;
    }

    
}